// Utility classes.

.container { @include container; }

.u-text-center { text-align: center; }
.u-text-left   { text-align: left; }
.u-text-right  { text-align: right; }

.u-sr-only { @include visually-hidden; }

.u-flex-center  { @include flex-center; }
.u-flex-between { @include flex-between; }

@mixin container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--gutter);
}
