@use '../abstracts' as *;

// Utility classes.

.container { @include container; }

.u-text-center { text-align: center; }
.u-text-left   { text-align: left; }
.u-text-right  { text-align: right; }

.u-sr-only { @include visually-hidden; }

.u-flex-center  { @include flex-center; }
.u-flex-between { @include flex-between; }
